.app-container {
    display: flex;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.6);
}

.content-container {
    width: 82%;
    padding: var(--container-padding);
    display: flex;
    /* gap: 50px; */
}
