@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--text-clr);
}

:root {
    --background-blue: #e1ebfd;
    --btn-blue: #62b9f8;
    --tools-blue: #a9b1fa;
    --primary-clr: #a866ee;
    --secondary-clr: #f74137;
    --text-clr: rgb(47, 47, 119);
    --white: #ffffff;

    --container-padding: 30px;
}

body {
    background-color: var(--background-blue);
}
